$italiana: 'Italiana', sans-serif;
$poly: 'Poly', serif;
$poppins: 'Poppins', sans-serif;

$primary-colors: rgb(9, 38, 53);
$secondary-colors: rgb(27, 66, 66);
$third-colors: rgb(92, 131, 116);
$accent-colors: rgb(158, 200, 185);
$white-colors: #eaeaea;
$black-colors: #222;